.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.contact-content {
  display: flex;
  padding: 20px;
  width: 1000px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.contact-info {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #777;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 20px 50px 0;
  width: 400px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.contact-form textarea {
  resize: none;
  height: 150px;
}

.contact-form button {
  background-color: #f4511e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  width: 425px;
}

.contact-form button:hover {
  background-color: #e94514;
}
